
html{
	box-sizing: border-box;
	font-family: 'Noto Sans', sans-serif;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body{
	margin: 0;
}

a{
	color: #fff;
	text-decoration: none;
}
header{
	background-color: #e7001d;
	text-align: center;
}

.medal{
	width:120px;
	padding: 10px;
	background-color: #e7001d;

}

h1{
	margin: 0;
	text-shadow: 1.5px 1.5px 1.5px #494949;
	color: #fff;
	font-size: 3.6em;
	position: absolute;
	left: 0;
	top: -12px;
	text-align: center;
	width: 100%;
	padding-top: 13px;
}

h2{
	color: #000;
	font-size: 1.8em;
	text-align: center;
	padding:10px;
	padding-top:30px;
	margin-top: 0;
}

h3{
	color: #fff;
	font-size: 1.8em;
	text-align: center;
	padding:10px;
	padding-top:30px;
	margin-top: 0;
}

small{
	font-size: 13pt;
	display: block;

}

nav{
	text-align: left;

}

nav ul{
	color: #fff;
	list-style: none;
	margin: 0;
	padding:0;


}

nav li{

	margin:0;
	padding:10px;
	width:50%;
	background-color: #222222;

}

.left{
	float: left;
	border:3px solid #000;
	border-bottom: 0.5px solid #000;
	border-left: 0.5px;
}

.leftclear{
	clear:left;
	border:3px solid #000;
	border-right: 0.5px;

}

.right{
	float: right;
	border:3px solid #000;

	border-left: 0.5px;

}

.rightclear{
	clear:right;
	border:3px solid #000;
	border-right: 0.5px;

}
.banner-image{
	width:100%;
	display: block;
}

.banner-text{
	font-size: 1.5em;
	color: #fff;
	text-align: center;
	bottom: 1.5em;
	width: 100%;
	font-style: italic;
	text-shadow: 1.5px 1.5px 1.5px #494949;
	margin: 0;
	position: absolute;
}

.banner{
	position:relative;
	overflow: hidden;
	width: 100%;
}

.intro{
	font-size: 1.1em;
	margin-right: 10px;
	margin-left:10px;
}


.symbol-d{
	width:50%;
	background-color: #e4c22a;
	float:right;
}

.symbol-g{
	width:50%;
	background-color: #222222;
	float:left;
}

.symbol-r{
	width:50%;
	background-color: #bc0017;
	float:right;
}

.symbol-ox{
	width:50%;
	background-color: #e4c22a;
	float:left;
}

.symbol-ds{
	width:50%;
	background-color: #e4c22a;
	float: left;
}

.symbol-gs{
	width:50%;
	background-color: #222222;
	float: right;
}

.symbol-rs{
	width:50%;
	background-color: #bc0017;
	float: left;
}

.symbol-oxs{
	width:50%;
	background-color: #e4c22a;
	float: right;
}

.text1{
	color:#fff;
	text-align: center;
	font-style: italic;
	font-size: 1em;
	padding-bottom: 20px;
	padding-top:0;
	margin-top: 0;
	margin-bottom: 0;
}

.text2{
	color:#000;
	text-align: center;
	font-style: italic;
	font-size: 1em;
	padding-bottom: 20px;
	padding-top:0;
	margin-top: 0;
	margin-bottom: 0;
}

.yellow{
	background-color: #e4c22a;
}

.black{
	background-color: #222222;
}

.red{
	background-color: #bc0017;
}

footer{
	background-color: #222222;
	color:#fff;
	text-align: center;
	font-size: 1em;
	padding-top: 20px;
	padding-bottom: 20px;
	text-decoration: underline;
}
